#day {
	text-align: center;
	margin: 0px;
}

#clock {
	text-align: center;
	font-size: 5em;
	margin: 0px;
}

#clock-container {
	padding-top: 40px;
	margin-bottom: 0px;
}

#upcoming-container {
	margin: 25px;
}

#particles-js {
	width: 100%;
    height: 100%;
	position: absolute;
}

#event-now {
	color: white;
    font-size: -webkit-xxx-large;
}

.bg-redcoral {
	background-color: lightcoral !important;
}

.bg-green {
	background-color: green !important;
}
